---
import { getCollection } from "astro:content";
import Main from "@/layouts/Main.astro";
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Tag from "@/components/Tag.astro";
import getUniqueTags from "@/utils/getUniqueTags";
import { SITE } from "@/config";
import { DEFAULT_LOCALE, t, type Locale } from "@/i18n";

const lang: Locale = DEFAULT_LOCALE;
const posts = await getCollection("blog");
const tags = getUniqueTags(posts, lang);
const ui = t(lang);
---

<Layout title={`${ui.tags.title} | ${SITE.title}`}>
  <Header {lang} />
  <Main pageTitle={ui.tags.title} pageDesc={ui.tags.desc} {lang}>
    <ul class="flex flex-wrap gap-6">
      {tags.map(({ tag, tagName }) => <Tag {tag} {tagName} {lang} />)}
    </ul>
  </Main>
  <Footer {lang} />
</Layout>
